@import colors
@import prefixes
@import 'components/triangle'
@import 'components/data-table'

.ig
  @import basics
  @import InfoBar
@import kandidatka
@import Suggester
.ig
  #map
  .infoBar
    border-top 3px solid lighten(ColorGreyBg, 40%)
    border-bottom 3px solid lighten(ColorGreyBg, 40%)
  #map
    position absolute
    top 0px
    left 0px
    bottom 0px
    background white
    width 100%
